<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel = "stylesheet" href = "/app.css">

<h1>
	JOIN US 
</h1>
<p class = "lead">
	Enter your name to join <strong><%= data%></strong> others on our waitlist
</p>
<form method = "post" action = "/register">
	<input type = "text" name = "email" class = "form" placeholder = "Enter Your Email">
	<button>
		Join Now
	</button>
</form>
